expandable-header {
 
    display: block;
    // background-color: map-get($colors, primary);
    background-image: url("../assets/imgs/header34.jpg");
    background-position: center center;
    background-size: cover;
    overflow: hidden;
 
}