
.ios, .md {
 
    page-home {
        
        // ion-item .time {
        //     width: 20%;
        //     height: 100px;
        //     margin: 4%;
        //     padding-left: 0px !important;
        // }
        ion-content {
            background-color: #eeeeee;
        }

        .headerCard {
            text-align: center;
            margin-top: 10px;
            padding-top: 15px;
        }

        .headerCard button {
            float: left;
            color: darkred;
            font-weight: bold;
        }

        .time {
            background-color: #4f6328;
            color: white;
            text-align: center;
            padding: 0 !important;
            margin: 0 5px 10px 5px;
            width: 89%;
        }

        ion-col {
            padding: 0 !important;
            margin: 0 !important;
            width: 100%;
        }

        .timeType {
            background-color: rgb(0, 46, 0);
            color: white;
            font-size: 12px;
            padding: 1px;
        }

        .timeTime {
            float:left;
            margin: 3px;
        }

        .timeIcon {
            float:right;
            max-width: 22px;
            max-height: 22px;
            width: auto;
  height: auto;
            margin: 1px;
        }

        ion-row {
            padding: 3%;
        }

        .iconButton {
            text-align: center;
            color:  color($colors, primary, base);
        }


        .toolImage {
            max-width: 45px;
            max-height: 36px;
            width: auto;
            height: auto;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 10px;


        }
        .title{
            background-color: transparent;
            text-shadow: 1px black;
            color: white;
            font-size: 25px;
        }

        .blank {
            height: 155px;
        }
        //   ion-row { width:100%; height:auto; }

        /* Ripple effect */
        .ripple {
            background-position: center;
            transition: background 0.8s;
        }
        .ripple:hover {
            background: white radial-gradient(circle, transparent 1%, white 1%) center/15000%;
        }
        .ripple:active {
            background-color: rgb(221, 221, 221);
            background-size: 100%;
            transition: background 0s;
        }
    }
 
}